<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>
<body class="bg-light">

    <div class="container-fluid" style="height: 100vh;">
        <div class="row h-100">
            <div class="col-2 shadow-lg rounded-3" style="height: 100%;">
                <div class="py-3 mt-5 mb-4">
                    <h1 class="text-center h2"><i class="bi bi-person-circle text-primary"></i> Admin Dashborad</h1>
                </div>

                <div class="container-fluid">
                    <li class="py-4 nav-item"><a class="fs-4 navbar-brand text-dark " href=""><i class=" text-primary bi bi-plus-circle-fill me-2"></i> Add Product</a></li>
                    <li class="py-4 nav-item"><a class="fs-4 navbar-brand text-dark " href=""><i class=" text-primary bi bi-plus-circle-fill"></i> Add Product</a></li>
                    <li class="py-4 nav-item"><a class="fs-4 navbar-brand text-dark " href=""><i class=" text-primary bi bi-plus-circle-fill"></i> Add Product</a></li>
                </div>
                
            </div>
            <div class="col-8"></div>
        </div>
    </div>
    
</body>
</html>